footer {
    width: 100%;
    display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    padding: 22px 25px;
    background-color: $Grey;
    color: white;

    .logo-text {
        color: white;
        font-family: 'Shrikhand', serif;
        text-decoration: none;
        font-size: 1.125em;
    }

    ul {
        font-size: 1em;
    }
}