/* Loader */
.homepage{
    overflow-y: hidden;
    animation: bar-y 50ms 3.2s both;
    .container-loader {
        display: flex;
        background-color: white;
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 1000;
        top: 0;
        animation: disappear 1s 3.2s both;
        .load {
            width: 3vh*20;
            height: 3vh*10;
            margin: auto;
            display: flex;
                justify-content: space-evenly;
                &__bar {
                    background-color: $Primary;
                    height: 100%;
                    width: 3vh;
                    animation: bars 2s backwards infinite;
                    animation-direction: alternate;
                    @for $i from 1 through 5 {
                        &.bar-#{$i} {
                            animation-delay: #{$i * 0.4}s;
                        }
                    }
            }
        }
    }
}
/* Animation du loader */
@keyframes bars {
    0% {
        transform: scaleY(0.5);
        background-color: $Pink;
    }
    50% {
        background-color: $Primary;
    }
    100% {
        transform: scaleY(1.0);
        background-color: $Green;
    }
}
/* Disparition du loader */
@keyframes disappear {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
        z-index: -1000;
    }
}
/* Apparition de la barre de défilement verticale */
@keyframes bar-y {
    0% {
        overflow-y: hidden;
    }
    99% {
        overflow-y: hidden;
    }
    100% {
        overflow-y: auto;
    }
}
/* Apparition successive des menus par blocs */
.entrees {
    animation: menu-appear 1.5s 0.5s both;
}
.plats {
    animation: menu-appear 1.5s 1s both;
}
.desserts {
    animation: menu-appear 1.5s 1.5s both;
}
@keyframes menu-appear {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}