body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body h1 {
  margin: 0;
}
body ul {
  padding-left: 0;
  margin: 0;
}
body li {
  list-style-type: none;
}
body a {
  text-decoration: none;
  color: black;
}

.homepage {
  overflow-y: hidden;
  animation: bar-y 50ms 3s both;
}
.homepage .container-loader {
  display: flex;
  background-color: white;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  top: 0;
  animation: disappear 1s 3.2s both;
}
.homepage .container-loader .load {
  width: 60vh;
  height: 30vh;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}
.homepage .container-loader .load__bar {
  background-color: #9356DC;
  height: 100%;
  width: 3vh;
  animation: bars 2s backwards infinite;
  animation-direction: alternate;
}
.homepage .container-loader .load__bar.bar-1 {
  animation-delay: 0.4s;
}
.homepage .container-loader .load__bar.bar-2 {
  animation-delay: 0.8s;
}
.homepage .container-loader .load__bar.bar-3 {
  animation-delay: 1.2s;
}
.homepage .container-loader .load__bar.bar-4 {
  animation-delay: 1.6s;
}
.homepage .container-loader .load__bar.bar-5 {
  animation-delay: 2s;
}

@keyframes bars {
  0% {
    transform: scaleY(0.5);
    background-color: #FF79DA;
  }
  50% {
    background-color: #9356DC;
  }
  100% {
    transform: scaleY(1);
    background-color: #99E2D0;
  }
}
@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
    z-index: -1000;
  }
}
@keyframes bar-y {
  0% {
    overflow-y: hidden;
  }
  100% {
    overflow-y: auto;
  }
}
.entrees {
  animation: menu-appear 1.5s 0.5s both;
}

.plats {
  animation: menu-appear 1.5s 1s both;
}

.desserts {
  animation: menu-appear 1.5s 1.5s both;
}

@keyframes menu-appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .logo-header-block {
  height: 63px;
  display: flex;
  align-items: center;
}
header .logo-header {
  width: 162px;
}
header .location-block {
  width: 100%;
  height: 50px;
  background-color: #EAEAEA;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 17px;
}

footer {
  padding: 22px 25px;
  background-color: #353535;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
@media (min-width: 1300px) {
  footer {
    padding: 30px 25px;
    height: 54px;
    flex-direction: row-reverse;
    align-items: flex-end;
  }
}
footer .logo-text {
  color: white;
  font-family: "Shrikhand", serif;
  text-decoration: none;
  font-size: 1.125em;
}
@media (min-width: 1300px) {
  footer .logo-text {
    width: 138px;
  }
}
footer ul {
  font-size: 1em;
}
@media (min-width: 1300px) {
  footer ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
}
footer ul li a {
  color: white;
}

main .headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #F6F6F6;
  padding: 50px 30px;
}
@media (min-width: 1080px) {
  main .headline {
    padding: 50px 180px;
  }
}
main .headline p {
  font-weight: 300;
  font-size: 1em;
  color: #353535;
}
main .procedure {
  padding: 30px 20px;
}
@media (min-width: 1080px) {
  main .procedure {
    padding: 30px 180px;
  }
}
main .procedure h1 {
  margin-bottom: 26px;
}
main .procedure ul {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
@media (min-width: 1200px) {
  main .procedure ul {
    flex-direction: row;
  }
}
main .procedure li {
  font-size: 1em;
  font-weight: 500;
  border-radius: 20px;
  background-color: #F6F6F6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  padding: 30px 40px 30px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
@media (min-width: 1200px) {
  main .procedure li {
    flex: 1;
    padding: 30px 0 30px 40px;
  }
}
@media (min-width: 1300px) {
  main .procedure li {
    padding: 30px 40px 30px 40px;
  }
}
main .procedure li:hover {
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
}
main .procedure li .circle {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background: #9356DC;
  color: white;
  font-size: 14.182px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .procedure li .procedure-number {
  left: -52px;
  position: relative;
}
main .procedure li .procedure-icon {
  margin-left: -30px;
  color: #7E7E7E;
}
main .procedure li .procedure-icon.fa-store {
  color: #9356DC;
}
main .restaurants-list {
  background-color: #F6F6F6;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
@media (min-width: 1080px) {
  main .restaurants-list {
    padding: 30px 180px;
  }
}
main .restaurants-list .cards-section {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
@media (min-width: 1080px) {
  main .restaurants-list .cards-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 50px;
  }
}
@media (min-width: 1080px) and (min-width: 1080px) {
  main .restaurants-list .cards-section a {
    width: 46%;
  }
}
@media (min-width: 1080px) and (min-width: 1300px) {
  main .restaurants-list .cards-section a {
    width: 47%;
  }
}
main .restaurants-list .card {
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  position: relative;
}
main .restaurants-list .card:hover {
  transform: scale(1.02);
}
main .restaurants-list .card img {
  width: 100%;
  height: 231px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
@media (max-width: 450px) {
  main .restaurants-list .card img {
    height: 180px;
  }
}
main .restaurants-list .card .new-restaurant {
  width: 80px;
  height: 29px;
  font-weight: 500;
  font-size: 0.875em;
  background-color: #99E2D0;
  color: #008766;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
main .restaurants-list .card .card-content {
  padding: 12px 30px 12px 13px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
main .restaurants-list .card .card-title {
  font-weight: 700;
  font-size: 1.125em;
  margin: 0;
}
main .restaurants-list .card .card-subtitle {
  font-weight: 300;
  font-size: 1.0625em;
  margin: 0;
}
main .restaurants-list .card .card-liked {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-restaurant {
  flex-direction: row;
  justify-content: space-between;
  margin: 0 44px 0 17px;
}
.header-restaurant .return-homepage .fa-arrow-left {
  font-size: 30px;
}
.header-restaurant .return-homepage .fa-arrow-left:hover {
  transform: translateX(5px);
}

.page-restaurant img {
  height: 275px;
  width: 100%;
  object-fit: cover;
}
.page-restaurant .title-restaurant {
  padding: 32px 50px 0 20px;
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-size: 1.2em;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 1080px) {
  .page-restaurant .title-restaurant {
    justify-content: center;
    gap: 20px;
  }
}
.page-restaurant .title-restaurant .card-liked {
  display: flex;
  align-items: center;
}
.page-restaurant .menu-restaurant {
  background-color: #F6F6F6;
  border-radius: 50px 50px 0 0;
  padding: 0 10px;
  margin-top: -50px;
  position: relative;
}
@media (min-width: 1080px) {
  .page-restaurant .menu-restaurant {
    padding: 0 20px;
    margin: -50px 180px 0 180px;
  }
}
@media (min-width: 1300px) {
  .page-restaurant .menu-restaurant {
    padding: 0 180px;
  }
}
.page-restaurant .menu-restaurant .menu-list {
  opacity: 0;
}
.page-restaurant .menu-restaurant .menu-list h2 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1em;
  margin: 0;
  padding: 40px 0 5px 0;
}
.page-restaurant .menu-restaurant .menu-list .line {
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
}
.page-restaurant .menu-restaurant .menu-list .cards-list {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.page-restaurant .menu-restaurant .menu-list .cards-list .card {
  padding: 15px;
  position: relative;
  background: white;
  border-radius: 15px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.page-restaurant .menu-restaurant .menu-list .cards-list .card:hover > .coche {
  transition: all 1s ease;
  right: 0;
}
.page-restaurant .menu-restaurant .menu-list .cards-list .card:hover > .card-content > .price {
  transition: all 1s ease;
  right: 60px;
}
.page-restaurant .menu-restaurant .menu-list .cards-list .card:hover > .card-content > .card-text > .card-title h3 {
  transition: all 1s ease;
  width: 90%;
}
.page-restaurant .menu-restaurant .menu-list .cards-list .card:hover > .card-content > .card-text > .card-subtitle p {
  transition: all 1s ease;
  width: 70%;
}
.page-restaurant .menu-restaurant .menu-list .cards-list .card .card-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  flex: 1 1 100%;
  width: 90%;
}
.page-restaurant .menu-restaurant .menu-list .cards-list .card .card-content .card-text {
  display: flex;
  flex-direction: column;
  min-width: 0;
  flex: 1 1 100%;
  gap: 5px;
}
.page-restaurant .menu-restaurant .menu-list .cards-list .card .card-content .card-text .card-title h3 {
  transition: width 1s ease;
  margin: 0;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}
.page-restaurant .menu-restaurant .menu-list .cards-list .card .card-content .card-text .card-subtitle p {
  transition: width 1s ease;
  margin: 0;
  font-weight: 300;
  font-size: 1em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}
.page-restaurant .menu-restaurant .menu-list .cards-list .card .card-content .price {
  transition: right 1s ease;
  font-weight: 700;
  font-size: 1em;
  position: relative;
  right: 0;
}
.page-restaurant .menu-restaurant .menu-list .cards-list .card .coche {
  transition: right 1s ease;
  position: absolute;
  right: -60px;
  background: #99E2D0;
  height: 46px;
  width: 25px;
  padding: 16px;
  border-radius: 0 15px 15px 0;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-restaurant .menu-restaurant .menu-list .cards-list .card .coche .fa-check {
  background-color: white;
  color: #99E2D0;
  border-radius: 50%;
  padding: 5px;
}
.page-restaurant .menu-restaurant .order {
  display: flex;
  justify-content: center;
}
.page-restaurant .menu-restaurant .order .button-order {
  margin: 40px 0;
}

.button-gradient {
  border-radius: 25px;
  border: none;
  background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  color: white;
  font-size: 1em;
  height: 50px;
  width: 218px;
  padding: 13px 18.75px;
  transition: opacity 500ms ease-in-out, box-shadow 500ms ease-in-out;
}
.button-gradient:hover {
  opacity: 0.8;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
  transition: opacity 500ms ease-in-out, box-shadow 500ms ease-in-out;
}

.fa-heart {
  font-size: 22px;
  position: absolute;
  color: transparent;
}
.fa-heart.empty {
  -webkit-text-stroke: 1px #000;
}
.fa-heart.full {
  opacity: 0;
  transition: all 1s ease-in-out;
}
.fa-heart.full:hover {
  opacity: 1;
  transition: all 1s ease-in-out;
  background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0;
}

/*# sourceMappingURL=style.css.map */
