main {
    .headline {
        display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        text-align: center;
        background-color: $Background;
        padding: 50px 30px;
        @media (min-width: 1300px) {
            padding: 50px 180px;
        }
        p {
            font-weight: 300;
            font-size: 1em;
            color: $Grey;
        }
    }
    .procedure {
        padding: 30px 20px;
        @media (min-width: 1300px) {
            padding: 30px 180px;
        }
        h1 {
            margin-bottom: 26px;
        }
        ul {
            display: flex;
                flex-direction: column;
                gap: 25px;
                @media (min-width: 1024px) {
                    flex-direction: row;
                }
        }
        li {
            font-size: 1em;
            font-weight: 500;
            border-radius: 20px;
            background-color: $Background;
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
            padding: 30px 40px 30px 30px;
            display: flex;
                flex-direction: row;
                gap: 10px;
                @media (min-width: 1024px) {
                    flex: 1;
                }
            .circle {
                border-radius: 50%;
                width: 24px;
                height: 24px;
                background: $Primary;
                color: white;
                font-size: 14.182px;
                display: flex;
                    align-items: center;
                    justify-content: center;
            }
            .procedure-number {
                left: -42px;
                position: relative;
            }
            .procedure-icon {
                margin-left: -30px;
            }
        }
    }
    .restaurants-list {
        background-color: $Background;
        padding: 30px 20px;
        @media (min-width: 1300px) {
            padding: 30px 180px;
        }
        display: flex;
            flex-direction: column;
            gap: 18px;
            .cards-section {
                display: flex;
                    flex-direction: column;
                    gap: 18px;
                @media (min-width: 1024px) {
                    display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        row-gap: 30px;
                        column-gap: 50px;
                        a {
                            @media (min-width: 1024px) {
                                width: 47%;
                            }
                        }
            }
    }

        .card {
            border-radius: 15px;
            background-color: white;
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
            position: relative;
            img {
                width: 100%;
                height: 231px;
                object-fit: cover;
                border-radius: 15px 15px 0 0;
                @media (max-width: 450px) {
                    height: 180px;
                }
            }
            .new-restaurant {
                width: 80px;
                height: 29px;
                font-weight: 500;
                font-size: 0.875em;
                background-color: $Green;
                color: $Green-Font;
                box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
                position: absolute;
                top: 12px;
                right: 12px;
                z-index: 100;
                display: flex;
                    align-items: center;
                    justify-content: space-around;
            }
            .card-content {
                padding: 12px 30px 12px 13px;
                display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
            }
            .card-title {
                font-weight: 700;
                font-size: 1.125em;
                margin: 0;
            }
            .card-subtitle {
                font-weight: 300;
                font-size: 1.0625em;
                margin: 0;
            }
            .card-liked {
                display: flex;
                    justify-content: center;
                    align-items: center;
                /*.heart-empty {
                    position: absolute;
                }
                .heart-full {
                    position: absolute;
                    opacity: 0;
                    z-index: 1;
                    transition: opacity 1s ease-in-out;
                    &:hover {
                        opacity: 1;
                        transition: opacity 1s ease-in-out;
                    }
                }*/
            }
        }
    }
}
