/* Pages des menus des restaurants*/
/* Header spécifiques aux pages des restaurants */
.header-restaurant {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 44px 0 17px;
    .return-homepage {
        .fa-arrow-left {
            font-size: 30px;
            &:hover {
                /* La flèche se décale lors du passage de la souris */
                transform: translateX(5px);
            }
        }
    }
}
/* Corps de la page du restaurant */
.page-restaurant {
    img {
        height: 275px;
        width: 100%;
        object-fit: cover;
    }    
    .title-restaurant {
        padding: 32px 50px 0 20px;
        display: flex;
            justify-content: space-between;
            h1 {
                font-family: 'Shrikhand', serif;
                font-weight: 400;
                font-size: 1.75em;
            }
            @media (min-width: 1080px) {
                /* Règles CSS à suivre à partir de 1080px */
                justify-content: center;
                gap: 20px;
            } 
            .card-liked {
                display: flex;
                    align-items: center;
            }
    }
    .menu-restaurant {
        background-color: $Background;
        border-radius: 50px 50px 0 0;
        padding: 0 10px;
        margin-top: -50px;
        position: relative;
        @media (min-width: 1080px) {
            /* Règles CSS à suivre à partir de 1080px */
            padding: 0 20px; 
            margin: -50px 180px 0 180px;
        }
        @media (min-width: 1300px) {
            /* Règles CSS à suivre à partir de 1300px */
            padding: 0 180px; 
        }
        .menu-list {
            opacity: 0;
            h2 {
                text-transform: uppercase;
                font-weight: 300;
                font-size: 1em;
                margin: 0;
                padding: 40px 0 5px 0;
            }
            .line {
                width: 40px;
                height: 3px;
                background-color: $Green;
            }
            .cards-list {
                margin-top: 10px;
                display: flex;
                    flex-direction: column;
                    gap: 10px;
                .card {
                    /* Au passage de la souris, les transitions se lancent */
                    &:hover {
                        & > .coche{
                            /* La coche se déplace vers la gauche */
                            transition: all 1s ease;
                            right: 0;
                        }
                        & > .card-content > .price{
                            /* Le prix se déplace en même temps vers la gauche */
                            transition: all 1s ease;
                            right: 60px;
                        }
                        & > .card-content > .card-text > .card-title h3{
                            /* Le titre du plat subit une ellipse si nécessaire lors du déplacement de la coche */
                            transition: all 1s ease;
                            width: calc(90%);
                        }
                        & > .card-content > .card-text > .card-subtitle p{
                            /* Le descriptif du plat subit une ellipse si nécessaire lors du déplacement de la coche et du prix */
                            transition: all 1s ease;
                            width: calc(70%);
                        }
                    }
                    padding: 15px;
                    position: relative;
                    background: white;
                    border-radius: 15px;
                    @include cards-shadow(0, 5px, 15px, 0, 0.10);
                    overflow: hidden;
                    display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        .card-content {
                            display: flex;
                                flex-direction: row;
                                justify-content: space-between;
                                align-items: flex-end;
                                flex: 1 1 100%;
                            width: 90%;
                            .card-text {
                                display: flex;
                                    flex-direction: column;
                                    min-width: 0;
                                    flex: 1 1 100%;
                                    gap: 5px;
                                    .card-title h3 {
                                        /* On affecte une ellipse au titre si besoin */
                                        transition: width 1s ease;
                                        margin: 0;
                                        font-weight: 500;
                                        text-overflow: ellipsis;
                                        white-space: nowrap;
                                        overflow: hidden;
                                        width: calc(100%);
                                    }
                                    .card-subtitle p {
                                        /* On affecte une ellipse au descriptif si besoin*/
                                        transition: width 1s ease;
                                        margin: 0;
                                        font-weight: 300;
                                        font-size: 1em;
                                        text-overflow: ellipsis;
                                        white-space: nowrap;
                                        overflow: hidden;
                                        width: calc(100%);
                                    }
                            }
                            .price {
                                transition: right 1s ease;
                                font-weight: 700;
                                font-size: 1em;
                                position: relative;
                                right: 0;
                            }
                        }
                        .coche {
                            transition: right 1s ease;
                            position: absolute;
                            right: -60px;
                            background: $Green;
                            height: 46px;
                            width: 25px;
                            padding: 16px;                    
                            border-radius: 0 15px 15px 0;
                            opacity: 1;
                            display: flex;
                                align-items: center;
                                justify-content: center;
                            .fa-check {
                                background-color: white;
                                color: $Green;
                                @include circle;
                                padding: 5px;
                            }
                        }
                }

            }
        }
        .order {
            display: flex;
                justify-content: center;
            .button-order {
                margin: 40px 0;
            }
        }

    }
}