$Grey-2: #EAEAEA;
$Grey: #353535;
$Background: #F6F6F6;
$Button-Gradient: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
$Primary: #9356DC;
$Pink: #FF79DA;
$Green: #99E2D0;
$Green-Font: #008766;
$Grey-tint-4: #7E7E7E;